<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhaka Bus Pathways</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>
    <div class="container">
        <i class="fas fa-bus" style="color: #FF676D;"></i>
        <strong class="text-3xl font-bold mb-4" style="color: #FF676D; font-size: 21px;">Dhaka Bus Pathways</strong>
           <i class="fa fa-bus" style="color: #FF676D;"></i>

        <form action="/search" method="POST" class="search-form">
            <input type="text" id="bus_name" name="bus_name" placeholder="Enter Bus Name..." required>
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</body>
</html>
